<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Image Form Layout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="static/script.js" defer></script>
</head>
<body>
    <h1>You want to cut cakes or pizzas by some methods?</h1>
    
    <div class="container">
        <div class="image-container">
            <div class="image-block">
                <img src="coming_soon.jpg" alt="radically">
                <input type="text" id="rad_divnum" name="rad_divnum" class="input" list="divnum_list" title="分割数を選択してください"> 
<!--   
    <datalist id="divnum_list">
      <option value="3"></option>
      <option value="4"></option>
      <option value="5"></option>
      <option value="6"></option>
      <option value="7"></option>
      <option value="8"></option>
      <option value="9"></option>
      <option value="10"></option>
      <option value="11"></option>
      <option value="12"></option>
      <option value="13"></option>
      <option value="14"></option>
      <option value="15"></option>
      <option value="16"></option>
      <option value="17"></option>
      <option value="18"></option>
      <option value="19"></option>
      <option value="20"></option>
      <input type="text" id="rad_divnum" name="rad_divnum" class="input" list="divnum_list" title="直径を選択してください">
      <datalist id="divnum_list"></datalist>
                -->                  

                  <script>
                    const divnumList = document.getElementById("divnum_list");

                    let options = "";
                    Array.from({ length: 18 }, (_, i) => i + 3).forEach(i => {
                        options += `<option value="${i}"></option>`;
                    });

                    divnumList.innerHTML = options;
                  </script>
                    </datalist>
                <button>送信</button>
            </div>
        </div>
    </div>
</body>
</html>